<%- include(basic_info['basePath']+'/components/theme_base/header') %>
<%- include(basic_info['basePath']+'/components/theme_base/sidebarLeft') %>
<div id="system_content">
    <div>
        <section id="description" class="card">
            <div class="card-header">
                <h4 class="card-title">Welcome</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="card-text"><%= basic_info['user']['name']%>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Description -->
    </div>
</div>