<nav id="system_left_sidebar" class="sidebar d-print-none">
    <ul class="list-unstyled">
        <li class="system_task_link">
            <a href="#" class="router-link-active router-link-exact-active" aria-current="page"><i class="bi bi-life-preserver"></i> Dashboard</a>
        </li>
    </ul>
</nav>