<nav id="system_left_sidebar" class="sidebar d-print-none">
    <ul class="list-unstyled">
        <li class="system_task_link" data-title="Dashboard" data-file="dashboard/index"><a href="#" data-file="dashboard/index" data-title="Dashboard" class="router-link-active router-link-exact-active"
                                        aria-current="page"><i class="bi bi-life-preserver"></i> Dashboard</a></li>
        <li class="" data-v-e9d341e4=""><a href="#side_menu_user_1" data-toggle="collapse" aria-expanded="true"
                                           data-v-e9d341e4="" class=""><i class="bi bi-pentagon-fill"
                                                                          data-v-e9d341e4=""></i> System Settings<span
                        class="fe-menu-arrow" data-v-e9d341e4=""></span></a>
            <ul id="side_menu_user_1" class="list-unstyled collapse" data-v-e9d341e4="" style="">
                <li class="system_task_link" data-v-e9d341e4=""><a href="#" data-file="system/module-tasks/index" class=""
                                                                   data-v-e9d341e4=""><i class="bi bi-life-preserver"
                                                                                         data-v-e9d341e4=""></i> Modules
                        &amp; Tasks</a><!----></li>
                <li class="system_task_link" data-v-e9d341e4=""><a href="/system/configurations" class=""
                                                                   data-v-e9d341e4=""><i class="bi bi-life-preserver"
                                                                                         data-v-e9d341e4=""></i> System
                        Configuration</a><!----></li>
                <li class="system_task_link" data-v-e9d341e4=""><a href="/system/user-groups" class=""
                                                                   data-v-e9d341e4=""><i class="bi bi-life-preserver"
                                                                                         data-v-e9d341e4=""></i> User
                        Groups</a><!----></li>
                <li class="system_task_link" data-v-e9d341e4=""><a href="/system/user-types" class=""
                                                                   data-v-e9d341e4=""><i class="bi bi-life-preserver"
                                                                                         data-v-e9d341e4=""></i> User
                        Types</a><!----></li>
            </ul>
        </li>
        <li class="system_task_link" data-title="users" data-file="users/index"><a href="#"  class="" data-v-e9d341e4=""><i
                        class="bi bi-life-preserver" data-v-e9d341e4=""></i> Users</a><!----></li>

            </ul>
        </li>
    </ul>
</nav>