<%- include(basic_info['basePath']+'/components/theme_base/header') %>
<%- include(basic_info['basePath']+'/components/theme_base/sidebarLeft') %>
<div id="system_content" style="display: none">
    <div id="task_method_container_list" class="task_method_container">
        <div class="card d-print-none mb-2">
            <div class="card-body">
                <button id="but_task_add" type="button" class="mr-2 mb-2 btn btn-sm bg-gradient-primary" onclick="load_method_add();"><i class="feather icon-plus-circle"></i> Add</button>
                <button id="but_task_refresh" type="button" class="mr-2 mb-2 btn btn-sm bg-gradient-primary" onclick="taskData.loadListData=true;load_method_list();"><i class="feather icon-rotate-cw"></i> Refresh</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-print-none">
                Part Numbers
            </div>
            <div class="card-body" style='overflow-x:auto;min-height:250px;'>
                <table class="table table-bordered">
                    <thead class="table-active">
                    <tr>
                        <th class="position-relative align-middle d-print-none">Action</th>
                        <th class="position-relative align-middle">UserName</th>
                        <th class="position-relative align-middle">Name</th>
                        <th class="position-relative align-middle">UserGroup</th>
                        <th class="position-relative align-middle">Email</th>
                        <th class="position-relative align-middle">Mobile No</th>
                    </tr>
                    </thead>
                    <tbody id="tbody_items" class="table-striped table-hover">

                    </tbody>
                </table>
                <div class="row d-print-none">
                    <div class="col">
                        <label data-v-79aeb02b="">Per Page</label>
                        <select class="select-pagination">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>showing: </label><label>1-10</label> of 4575
                    </div>
                    <div class="col text-right">
                        <label >Go to page</label>
                        <select class="select-pagination" >
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="task_method_container_add" class="task_method_container">
        <div class="card d-print-none mb-2">
            <div class="card-body">
                <button id="but_task_back" type="button" class="mr-2 mb-2 btn btn-sm bg-gradient-primary" onclick="load_method_list();"><i class="feather icon-corner-up-left"></i> Back</button>
                <button id="but_task_add_save" type="button" class="mr-2 mb-2 btn btn-sm bg-gradient-primary" onclick="task_save(false);"><i class="feather icon-save"></i> Save</button>
                <button id="but_task_add_save_new" type="button" class="mr-2 mb-2 btn btn-sm bg-gradient-primary" onclick="task_save(true);"><i class="feather icon-plus-square"></i> Save and New</button>
            </div>
        </div>
    </div>
    <div id="task_method_container_edit" class="task_method_container">
        edit
    </div>
    <div id="task_method_container_details" class="task_method_container">
    </div>
</div>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    /* global showResponseError */
    let taskData={
        api_url:'/users',
        method:'list',
        loadListData:true,


        permissions:{},
        item: {},           //single item
        items: {data:[]},   //from Laravel server with pagination and info
        itemsFiltered: [],    //for display
        columns:{all:{},hidden:[],sort:{key:'',dir:''}},
        pagination: {current_page: 1,per_page_options: [1,2,10,20,50,100,500,1000],per_page:10,show_all_items:true},
        user_groups:[],
        users_types:[],
    }

    function systemPageLoaded(){
        console.log(taskData)
        task_initialize();
    }
    function task_initialize(){
        $.ajax({
            url:taskData.api_url+'/initialize',
            type: 'GET',
            dataType: "JSON",
            processData: false,
            contentType: false,
            success: function (data, status)
            {
                if (data.error == "") {
                    taskData.permissions= data.permissions;
                    taskData.user_groups= data.user_groups;
                    $('#system_content').show()
                    load_method_list();
                }
                else{
                    showResponseError(data)
                }
            },
        });

    }
    function load_method_list(){
        $('.task_method_container').hide();
        if(taskData.permissions['action_1']){

            $('#but_task_add').show();
        }
        else{
            $('#but_task_add').hide();
        }
        $('#task_method_container_list').show();
        if(taskData.loadListData)
        {
            $.ajax({
                url:(taskData.api_url+'/get-items?page='+ taskData.pagination.current_page+'&perPage='+ taskData.pagination.per_page),
                type: 'GET',
                dataType: "JSON",
                processData: false,
                contentType: false,
                success: function (data, status)
                {
                    if (data.error == "") {
                        taskData.items= data.items;
                        let html='';
                        for(let index in taskData.items.data){
                            let datum=taskData.items.data[index];
                            html+='<tr>'
                            html+='<td class="col_1 d-print-none">'+
                                '<button class="btn btn-sm bg-gradient-primary dropdown-toggle waves-effect waves-light" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>' +
                                '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">' +
                                '<a href="#" onclick="load_method_details('+datum['id']+');" class="dropdown-item text-info btn-sm"><i class="feather icon-camera"></i> Details</a>' +
                                '<a href="#" onclick="load_method_edit('+datum['id']+');" class="dropdown-item text-info btn-sm"><i class="feather icon-edit"></i> Edit</a>' +
                                '</div></td>'

                            html+='<td>'+datum['username']+'</td>'
                            html+='<td>'+datum['name']+'</td>'
                            html+='<td>'+datum['user_group_name']+'</td>'
                            html+='<td>'+datum['email']+'</td>'
                            html+='<td>'+datum['mobile_no']+'</td>'
                            html+='</tr>'
                        }
                        $('#tbody_items').html(html)
                        taskData.loadListData=false
                    }
                    else{
                        showResponseError(data)
                    }
                },
            });
        }

    }
    function load_method_add(){
        $('.task_method_container').hide();
        if(taskData.permissions['action_1']){

            $('#but_task_add_save').show();
            $('#but_task_add_save_new').show();
        }
        else{
            $('#but_task_add_save').hide();
            $('#but_task_add_save_new').hide();
        }
        $('#task_method_container_add').show();
    }
    function load_method_edit(id){
        console.log(id)
    }
    function load_method_details(id){
        console.log(id)
    }

    function task_save(save_and_new){
        $('.task_method_container').hide();
        $('#task_method_container_add').show();
    }
</script>
<style>

</style>